/*perempuan NIM Genap */

:root{
  --primary: #e89fbf; 
  --accent: #c65a8f;
  --text: #111; 
  --bg: #fabee3; 
}

*{box-sizing:border-box}
body{font-family: Arial, Helvetica, sans-serif;margin:0;background:var(--bg);color:var(--text);}
.header{padding:16px;text-align:left;background:linear-gradient(90deg, var(--primary), var(--accent));color:#fff}

.identitas h1{margin:0;font-size:20px}
.identitas p{margin:4px 0 0}

.container{padding:16px;max-width:1000px;margin:0 auto}

.intro p{line-height:1.5}

.issues{margin-top:20px}
.issue{border-radius:8px;padding:10px;margin:10px 0;background:rgb(245, 213, 232);}

.issue .title{margin:0;cursor:pointer} 
.issue .desc{margin:8px 0 0}

.controls{margin:20px 0;display:flex;gap:8px}
.controls button{padding:10px 14px;border:0;border-radius:8px;cursor:pointer;background-color: #c65a8f;}

.gallery .cards{display:grid;gap:12px} 
.card{background:rgba(250, 223, 231, 0.7);padding:8px;border-radius:8px;text-align:center}
.card img{width:100%;height:180px;object-fit:cover;border-radius:6px}

@media (max-width:599px){
  .gallery .cards{grid-template-columns:1fr}
}
@media (min-width:600px) and (max-width:992px){
  .gallery .cards{grid-template-columns:1fr 1fr}
}
@media (min-width:993px){
  .gallery .cards{grid-template-columns:1fr 1fr 1fr}
}

body.mode-berantakan{
  --primary:#ff00aa;
  --accent:#00ff99;
  --text: #c41935; 
  --bg:#087f20;
}
body.mode-berantakan .issue{transform:rotate(+18deg);}

.footer{padding:12px;text-align:center;font-size:14px;color:#333}

